//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../templates/layout


block append head
    link(href='public/css/home.css', rel='stylesheet', type='text/css')

block content
    h1 this is the dashboard
    if error
        h2 #{error}

    if user
        p email: #{user.email}
        p name: #{user.name.first} #{user.name.last}
        p id: #{user.userid}
        if user.image
            p image id: #{user.image._id}
            p image name: #{user.image.filename}
            img(src='file/#{user.image._id}/300/200/#{user.image.name}', width='200')


    form(action="/upload/#{user.userid}", method="POST", enctype="multipart/form-data")
        p Select an image to upload:
        input(type="file", name="image")
        input(type="submit", value="Upload Image")

    //- form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
    //-     input(type="hidden", name="cmd", value="_s-xclick")
    //-     input(type="hidden", name="hosted_button_id", value="JVDBB966A7WYE")
    //-     input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
    //-     img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")

block append footer-scripts